body {
  background-color: #222831;
  color: #EEEEEE;
  font-family: Arial, sans-serif;
}

.container-page {
  background-color: #31363F;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto; 
  max-width: 450px; 
  max-height: 450px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  background-color: #EEEEEE;
  color: #222831;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: calc(100% - 20px); /* Adjusted width for input */
}

.btn-primary {
  background-color: #76ABAE;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Adjusted padding */
  cursor: pointer;
  width: 100%; /* Button takes full width */
}

.btn-primary:hover {
  background-color: #222831;
}.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}


.login-link, .signup-link, .forget-password-link {
  color: #76ABAE;
  cursor: pointer;
  text-decoration: underline;
}

.login-link:hover, .signup-link:hover, .forget-password-link:hover {
  color: #EEEEEE;
}
h1 {
  text-align: center; /* Center align the heading */
}
.next-container {
  margin: 50px auto; /* Adjusted margin */
  padding: 20px;
  max-width: 900px; /* Adjusted max-width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recipe-card {
  width: 250 px; /* Adjusted width to fit four cards in a row with gap */
  border: 2px solid #ff9800;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(255, 69, 0, 0.5);
  background-color: #333;
}

.recipe-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.recipe-card .card-body {
  padding: 20px;
}

.recipe-card .card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ff9800;
}
